.theme-settings (@theme-color, @theme-hero, @theme-logo, @theme-color-hover){

  .navbar-inverse {
    
    .navbar-toggler {
      background: @theme-color;  
      
      &:hover {
        background: ;
      }
    }
    
    .navbar-nav {
    
      .open > .nav-link, 
      .active > .nav-link, 
      .nav-link.open, 
      .nav-link.active {
        color:  @theme-color;
      }  
    }
  }

  .navbar-brand {

    img {
      content: @theme-logo;
    }
  }  


  .home-wrap{
    background-image: @theme-hero;
  }
    
  .btn {
    color: @color-white;
    background-color: @theme-color;
    border-color: @color-white;
    
    &:hover,
    &:focus{
      background: @theme-color-hover;
    }
  }
  
  .section-services,
  .section-register {
    
    .heading{      
    
      h3 {
    
        span {
          color: @theme-color;
        }
      }   
    }
    
    .services-inside-block {
      background: @theme-color;
    }
  }
  
  .register-block{
    border-color: @theme-color; 
    
    h5 {
      color: @theme-color;
    }
  }
  
}

#workshop {
  .theme-settings (@color-workshop, @hero-workshop,  @logo-workshop, @hover-workshop);  
}

#click2Vox {
  .theme-settings (@color-click2vox, @hero-click2vox,  @logo-click2vox, @hover-click2vox);  
}

#voxRec {
  .theme-settings (@color-voxRec, @hero-voxRec,  @logo-voxRec, @hover-voxRec);  
}

#voxConf {
  .theme-settings (@color-voxConf, @hero-voxConf,  @logo-voxConf, @hover-voxConf);  
}

#sip2Web {
  .theme-settings (@color-sip2Web, @hero-sip2Web,  @logo-sip2Web, @hover-sip2Web);  
}

#voxCloud {
  .theme-settings (@color-voxCloud, @hero-voxCloud,  @logo-voxCloud, @hover-voxCloud);  
}

