body {
	width: 100%;
  font-size: 16px;
	font-family: @primary-font;
	color: @base-font-color;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p{
  margin: 0;  
}

.btn {
  font-family: @secondary-font;
  font-weight: 300;
  
  &:hover,
  &:focus{
    text-decoration: underline;
  }
}

.btn-primary {
  margin-top: 15px;
}

.btn-group-lg > .btn, .btn-xl {
	padding: 14px 20px;
	font-size: 22px;
	line-height: 1.6;
	border-radius: 6px;
}
 
select.form-control {
  background-image: url("../images/custom-select-drop.jpg");
  background-position: right center;
  background-size: 30px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  margin: 0;
}