//Fonts
@primary-font: 'Lato', sans-serif;
@secondary-font: 'Open Sans', sans-serif;


//Colors
@color-white: #ffffff;
@color-dark: rgb(0, 30, 34);
@base-font-color: @color-white;
@sec-font-color: #E6E6E6;
@dark-font-color: #333333;
@color-bg-dark: #403E39;
@color-footer: #8B8366;


//Theme Var
@color-click2vox: #207fbf;
@theme-color-hover: #2a4453;
@hero-click2vox: url(../images/click2vox/hero.jpg);
@logo-click2vox: url(../images/click2vox/logo.png);


@color-voxRec: #cc9d6e;
@hero-voxRec: url(../images/voxRec/hero.jpg);
@logo-voxRec: url(../images/voxRec/logo.png);
