//Fonts
@primary-font: 'Lato', sans-serif;
@secondary-font: 'Open Sans', sans-serif;


//Colors
@color-white: #ffffff;
@color-dark: rgb(0, 30, 34);
@base-font-color: @color-white;
@sec-font-color: #E6E6E6;
@dark-font-color: #333333;
@color-bg-dark: #403E39;
@color-footer: #8B8366;


//Theme Var

//Workshop
@color-workshop: #8B8366;
@hover-workshop: #403E39;
@hero-workshop: url(../images/workshop/hero.jpg);
@logo-workshop: url(../images/workshop/logo.png);

//Click 2 Vox
@color-click2vox: #207fbf;
@hover-click2vox: #2a4453;
@hero-click2vox: url(../images/click2vox/hero.jpg);
@logo-click2vox: url(../images/click2vox/logo.png);

//Vox Rec
@color-voxrec: #cc9d6e;
@hover-voxrec: #c5905b;
@hero-voxrec: url(../images/voxrec/hero.jpg);
@logo-voxrec: url(../images/voxrec/logo.png);

//Vox Conf
@color-voxconf: #eba34e;
@hover-voxconf: #955b11;
@hero-voxconf: url(../images/voxconf/hero.jpg);
@logo-voxconf: url(../images/voxconf/logo.png);

//Sip 2 WebRTC
@color-sip2web: #5c8d5a;
@hover-sip2web: #324d30;
@hero-sip2web: url(../images/sip2web/hero.jpg);
@logo-sip2web: url(../images/sip2web/logo.png);

//Vox Cloud
@color-voxcloud: #638467;
@hover-voxcloud: #294B2D;
@hero-voxcloud: url(../images/voxcloud/hero.jpg);
@logo-voxcloud: url(../images/voxcloud/logo.png);

//DID 2 WebRTC
@color-did2web: #8B8366;
@hover-did2web: #403E39;
@hero-did2web: url(../images/did2web/hero.jpg);
@logo-did2web: url(../images/did2web/logo.png);